* { box-sizing: border-box; margin: 0; padding: 0; }

.isa {
    font-family: "ICA Rubrik";
}

.typewriter {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
}
.typewriter p {
    width: 0;
    /* margin-inline: auto; */
    overflow: hidden;
    white-space: nowrap;
    animation: typing .75s steps(12) forwards;
}
@keyframes typing {
    0% {
        border-right: 1px solid;
        width: 0;
    }
    99% {
        border-right: 1px solid;
    }
    100% {
        width: 100%;
        border: none;
    }
    
}

.null-button {
    position: relative;
    border: 0;
    padding: .75rem 1.5rem;
    background: papayawhip;
    border-radius: 5rem;
    overflow: hidden;
    z-index: 1;
    cursor: pointer;
}
.null-button::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: lightcyan;
    transform-origin: bottom left;
    transform: scale(0, 1);
    transition: transform .25s;
    top: 0;
    left: 0;
    z-index: -1;
}
.null-button:hover::after {
    transform: scale(1, 1);
    transform-origin: top right;
}

@font-face {
    font-family: "ICA Rubrik";
    src: url(../src/fonts/ICARubrik-Black.ttf);
}
@keyframes appear1 {
    from{
        opacity: 0;
        transform: translateX(-100px);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes appear2 {
    from{
        opacity: 0;
        scale: .5;
    }
    to{
        opacity: 1;
        scale: 1;
    }
}
@keyframes appear3 {
    from{
        opacity: 0;
        clip-path: inset(0 100% 100% 0);
    }
    to{
        opacity: 1;
        clip-path: inset(0 0 0 0);
    }
}

.animation-from-left {
    animation: appear1 1s linear;
    animation-timeline: view();
    animation-range: entry 0;
}
.animation-from-scale {
    animation: appear2 1s linear;
    animation-timeline: view();
    animation-range: entry 0;
}
.animation-from-clip {
    animation: appear3 1s linear;
    animation-timeline: view();
    animation-range: entry 0 cover 15%;
}

.circle {
    animation: rot linear infinite;
    animation-duration: 1s;
}
.circle2 {
    animation: rot2 linear infinite;
    animation-duration: .5s;
}
@keyframes rot {
    to {
        transform: rotate(360deg);
    }
}
@keyframes rot2 {
    to {
        transform: rotate(-360deg);
    }
}